<% if @game.opponent_of(@game.current_turn).hp <= 0 %>
    <%= @game.current_turn.name %> wins!
<% else %>
  <% if @game.current_turn == @game.player1 %>
    <%= @game.player1.name %> used Cheat Emissions. It's super effective! <%= @game.player2.name %> -12 HP.
    </p>
  <% else %>
    <%= @game.player2.name %>'s social media gets attention and VW is fined. <%= @game.player1.name %> -12 HP.
    </p>
  <% end %>
<% end %>
<%= @game.opponent_of(@game.current_turn).name %> HP: <%= @game.opponent_of(@game.current_turn).hp %>
<form action="/switch_turns" method="post">
  <input type="submit" value="OK">
</form>
