<style>
  section {
    width: 100%
  }

  #player1 {
    max-width: 50%;
    box-sizing: border-box;
    float: left;
    padding: 20px
  }

  #player2 {
    max-width: 50%;
    box-sizing: border-box;
    float: right;
    padding: 20px
  }

</style>


<h1> <%= @player1_name %> vs <%= @player2_name %> BATTLE BEGINS!!!</h1>


<section>
  <div id="player1">
    <span><%= @player1_name %>: <%=$p1_health%>HP</span>
    <progress id='health_bar_p1' value='100' max='100'></progress>
    <div></div>
    <img src="http://blog.caranddriver.com/wp-content/uploads/2015/10/Volkswagen-HQ-clouds-e1446151067853-626x381.jpg" alt="gas" height="330" width="400" style="padding-bottom:20"/>
    <form action="/attack">
      <input type='submit' value="Cheat emissions test!">
    </form>
  </div>

  <div id="player2">
    <span><%= @player2_name %>: <%=$p2_health%>HP</span>
    <progress id='health_bar_p2' value='100' max='100'></progress>
    <div></div>
    <img src="https://i0.wp.com/hennessysview.com/wp-content/uploads/2015/12/polar-bear-iceberg.jpg?ssl=1" alt="polar bear" height="350" style="padding-bottom:20"/>
    <form action="/attack">
      <input type='submit' value="Lick paw">
    </form>
  </div>
</section>
