<style>
  section {
    width: 100%
  }

  #player1 {
    max-width: 50%;
    box-sizing: border-box;
    float: left;
    padding: 20px
  }

  #player2 {
    max-width: 50%;
    box-sizing: border-box;
    float: right;
    padding: 20px
  }

</style>


<h1> <%= @player1 %> vs <%= @player2 %> BATTLE BEGINS!!!</h1>


<section width="100%">
  <div id="player1">
    <span><%= @player1 %>: <%=@p1_health%>HP</span>
    <progress id='health_bar_p1' value='100' max='100'></progress>
    <div></div>
    <img src="http://blog.caranddriver.com/wp-content/uploads/2015/10/Volkswagen-HQ-clouds-e1446151067853-626x381.jpg" alt="gas" height="330" width="400"/>
    <div style="padding:10"></div>
    <button type='button' id='emissions'>Cheat emissions test!</button>
  </div>

  <div id="player2">
    <span><%= @player2 %>: <%=@p2_health%>HP</span>
    <progress id='health_bar_p2' value='100' max='100'></progress>
    <div></div>
    <img src="https://i0.wp.com/hennessysview.com/wp-content/uploads/2015/12/polar-bear-iceberg.jpg?ssl=1" alt="polar bear" height="350"/>
    <div style="padding:10"></div>
    <button type='button' id="paw-lick">Licks paw</button>
  </div>

</section>
